.connexion {
    background-color: #fffcf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .connexion .div {
    background-color: #fffcf7;
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .connexion .overlap {
    height: 30%;
    left: 3px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .connexion .text-wrapper {
    color: #2d544a;
    font-family: "Jost-SemiBold", Helvetica;
    font-size: 5vh;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 32%;
  }
  
  .connexion .overlap-group {
    height: 29.69%;
    left: 8.21%;
    position: absolute;
    width: 91%;
  }
  
  .connexion .text-wrapper-2 {
    color: #2d544a;
    font-family: "Jost-Medium", Helvetica;
    font-size: 7vh;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5500%;
    width: 92%;
  }
  
  .connexion .forme {
    left: 65%;
    position: absolute;
    width: 40%;
  }
  
  .connexion .text-wrapper-3 {
    color: #2d544a;
    font-family: "Jost-Medium", Helvetica;
    font-size: 3.5vh;
    font-weight: 500;
    line-height: normal;
    position: relative;
    text-align: center;
    top: 8.5em;
    white-space: nowrap;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .connexion .overlap-2 {
    height: 37.3%;
    left: 0;
    position: absolute;
    top: 1000%;
    width: 100%;
  }
  
  .connexion .overlap-3 {
    height: 37.28%;
    left: 0;
    position: absolute;
    top: 0;
    width: 90%;
  }
  
  .connexion .text-wrapper-4 {
    color: #2d544a;
    font-family: "Jost-Medium", Helvetica;
    font-size: 1.5em;
    font-weight: 500;
    height: 4.8%;
    left: 30%;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 4100%;
    width: 40%;
  }
  
  .connexion .error-message {
    background-color: #fffcf7;
    border: 0.01px solid;
    border-color: #d93232;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #00000040;
    display: inline-block;
    position : center;
    color: #d93232;
    font-family: "Jost-Medium", Helvetica;
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 12%;
    padding : 1%;
  }
  
  .connexion .error-message2 {
    background-color: #fffcf7;
    border: 0.01px solid;
    border-color: #d93232;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #00000040;
    display: inline-block;
    position : center;
    color: #d93232;
    font-family: "Jost-Medium", Helvetica;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    margin-top: 12%;
    padding : 1%;
  }
  
  .connexion .img {
    height: 5500%;
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 80%;
    margin-left: -10%;
    width: 43%;
  }
  
  .connexion .frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20%;
    height: 5000%;
    left: 11%;
    position: absolute;
    top: 200%;
    width: 90%;
  }
  
  .connexion .bouton-mail-mdp {
    height: 15%;
    position: relative;
    width: 92%;
  }
  
  .connexion .overlap-group-2 {
    background-color: #fffcf7;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #00000040;
    height: 75%;
    position: relative;
  }
  
  .connexion .rectangle {
    background-color: #fffcf7;
    border: 0.01px solid;
    border-color: #000000;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #00000040;
    height: 80%;
    left: 0;
    position: absolute;
    top: 0;
    width: 92%;
  }
  .connexion .text-wrapper-9 {
    color: #2d544a;
    font-family: "Jost-Light", Helvetica;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    width: 88%;
    padding-left: 10%;
  }
  
  .connexion .text-wrapper-9::placeholder {
    opacity: 0.5;
  }
  
  .connexion .text-wrapper-9:not(:placeholder-shown) {
    opacity: 1;
  }
  
  .connexion .img-2 {
    height: 100%;
    left: 2%;
    position: absolute;
    top: -6%;
    width: 6%;
  }
  
  .connexion .mail-outlined {
    height: 100%;
    left: 2%;
    position: absolute;
    top: -6%;
    width: 6%;
  }
  
  .connexion .vector-wrapper {
    background-color: #2d544a;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px #ffffff1a;
    height: 270%;
    left: 67%;
    position: absolute;
    top: 1500%;
    width: 16%;
  }
  
  .connexion .vector {
    height: 200%;
    left: 13%;
    position: absolute;
    top: -10%;
    width: 90%;
  }
  
  .connexion .text-wrapper-7 {
    color: #2d544a;
    font-family: "Jost-Regular", Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    height: 30%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 2250%;
    width: 100%;
  }
  
  .connexion .text-wrapper-8 {
    color: #2d544a;
    font-family: "Jost-Regular", Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2100%;
    width: 100%;
  }
  
  input::placeholder {
    color: #2d544a;
    font-family: "Jost-Light", Helvetica;
    font-size: 1em;
    font-weight: 300;
    height: 100%;
    left: 10%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10%;
    white-space: nowrap;
    width: auto;
  }
  
  